.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bookList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bookInList img {
  width: 100px;
}
