.left-sidebar {
  width: 20%;
  height: 96%;
}

.left-section-user-panel {
  background-color: white;
  min-height: 16%;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section-list {
  background-color: white;
  min-height: 5%;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
