.loggedin-main-div {
  min-height: 91vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
