.right-sidebar {
  width: 20%;
  height: 96%;
}

.right-section {
  background-color: white;
  min-height: 22%;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
