.list-container {
  width: 100%;
}

.list-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowListName {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.arrowListName:hover {
  background-color: #93bcec8c;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.list {
  width: 100%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
}

.list p {
  text-align: center;
  width: 40%;
  padding: 0;
  margin: 5% 0 5% 0;
}

.list ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 0 14px 0 26px;
  margin: 6px 0 6px 0;
}

.list li:hover {
  background-color: rgb(243, 244, 246);
  border-left: 3px solid lightgray;
  padding-left: 23px;
}

.list li:active {
  border-left: 3px solid #93bdec;
  padding-left: 24px;
}

.list ul li p {
  margin: 0;
  padding: 0;
}

.separator-wrapper {
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-separator {
  background-color: whitesmoke;
  height: 1px;
  width: 80%;
}

.breakLine {
  width: 100%;
}

.breakLine hr {
  border: 0.5px solid lightgray;
  margin: 10% 0 0 0;
}
