.list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 90%;
  font-size: 0.8em;
}

.list p {
  margin: 10% 0 0 0;
  padding: 0;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style: square;
  list-style-position: inside;
}

.list ul li p {
  margin: 0;
  padding: 0;
}

.breakLine {
  width: 100%;
}

.breakLine hr {
  border: 0.5px solid lightgray;
  margin: 10% 0 0 0;
}
