.dashboard {
  width: 50%;
  height: 96%;
}

.dashboard-search {
  height: 10vh;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
