.right-sidebar {
  min-width: 10%;
}

.right-section {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
}

.random-section {
  background-color: white;
  min-height: 10vh;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.follow-title {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px -3px lightgray;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
}
